---
import Layout from "../layouts/Layout.astro";

import TheMenu from "../components/TheMenu.vue";
import Icon from "astro-icon";
import BaseContainer from "../components/BaseContainer.astro";
import TheSelector from "../components/TheSelector.vue";
---

<Layout title="Lenyeg">
  <TheMenu client:only="vue" />
  <BaseContainer>
    <section class="flex flex-col gap-10 mb-16">
      <section
        id="about"
        class="flex flex-col gap-12 items-start text-center lg:text-left lg:flex-row mt-16"
      >
        <section
          class="flex flex-col justify-center items-center gap-6 flex-1 lg:text-2xl md:items-start"
        >
          <h2 class="text-3xl sm:text-5xl font-bold text-gray-700">
            Quem somos?
          </h2>
          <span class="text-gray-500">
            Uma escola. Nosso objetivo é aprender! Acontece que muito só se
            aprende com experiência na vida real, e é isso que promovemos
            diariamente.
          </span>
          <span class="text-gray-500">
            Aqui os próximos profissionais de alta performance tem o espaço para
            encontrarem o seu caminho dentro do marcado de tecnologia.
          </span>
          <img
            draggable="false"
            draggable="false"
            src="/images/imagem-equipe.png"
            width="330"
            alt="A equipe"
            class="block md:hidden"
          />
          <a
            href="https://discord.gg/J6f68NQC" target="_blank"
            class="px-8 py-3 bg-[#0D806E] border-4 border-transparent text-white rounded-full shadow hover:border-gray-300 duration-300"
            >Junte-se a nós!</a
          >
        </section>
        <section
          draggable="false"
          class="md:flex items-center justify-center flex-1 hidden"
        >
          <img
            draggable="false"
            src="/images/imagem-equipe.png"
            width="475"
            alt="A equipe"
            class="w-full"
          />
        </section>
      </section>
      <section
        id="how"
        class="flex flex-col gap-12 items-start text-center md:text-left lg:flex-row-reverse mt-16"
      >
        <section
          class="flex flex-col justify-center items-center md:items-start gap-6 flex-1 lg:text-2xl"
        >
          <h2 class="text-3xl md:text-5xl font-bold text-gray-700">
            Como funciona?
          </h2>
          <span class="text-gray-500">
            Acolhemos pessoas baseado em seus valores e as desenvolvemos de
            acordo com a demanda do projeto.
          </span>
          <span class="text-gray-500">
            Utilizamos as atividades dos alunos como entregáveis do seu produto,
            assim, desenvolvemos novos profissionais para o mercado de
            tecnologia enquanto desenvolvemos seu produto digital.
          </span>
          <span class="text-gray-500">
            Assim, quando o seu produto estiver pronto, teremos uma nova turma
            de novos profissionais disponíveis a você.
          </span>
          <img
            draggable="false"
            src="/images/how-it-works.svg"
            width="476"
            alt=""
            class="block md:hidden"
          />
          <a
            href=""
            class="px-8 py-3 bg-[#0D806E] border-4 border-transparent text-white rounded-full shadow hover:border-gray-300 duration-300"
            >Comece agora</a
          >
        </section>
        <section class="hidden md:flex items-center justify-center flex-1">
          <img
            draggable="false"
            src="/images/how-it-works.svg"
            width="600"
            alt=""
          />
        </section>
      </section>
      <section
        class="flex flex-col gap-12 items-start text-center md:text-left lg:flex-row mt-16"
      >
        <section
          class="flex flex-col justify-center items-center md:items-start gap-6 flex-1 lg:text-2xl"
        >
          <h2 class="text-3xl md:text-5xl font-bold text-gray-700">
            Faça como eles
          </h2>
          <span class="text-gray-500">
            Nossos clientes estão preocupados com a escasse de profissionais no
            mercado de tecnologia e aproveitaram para tirar seus projetos do
            papel.
          </span>
          <span class="text-gray-500">
            Invista hoje para garatir nossos profissionais do futuro.
          </span>
          <section class="flex flex-col gap-4 flex-1 p-2 md:hidden">
            <img src="/images/pvai-app-portfolio.png" alt="" class="rounded">
            <div class="flex justify-around items-center gap-2">
              <img src="/images/osmarjr-portfolio.png" alt="" class="rounded flex-1 w-36 cursor-pointer">
              <img src="/images/ieasy-portfolio.png" alt="" class="rounded flex-1 w-36 cursor-pointer">
            </div>
          </section>
          <a
            href=""
            class="px-8 py-3 bg-[#0D806E] border-4 border-transparent text-white rounded-full shadow hover:border-gray-300 duration-300 flex justify-center items-center gap-2"
          >
            Fale conosco
            <Icon name="wpp" class="w-4 h-4 md:w-6 md:h-6" />
          </a>
        </section>
        <TheSelector client:only="vue" />
      </section>
    </section>
  </BaseContainer>
  <footer class="py-4 text-white bg-gray-700 lg:pt-20">
    <BaseContainer>
      <div class="flex justify-between lg:flex-row-reverse">
        <div class="flex flex-col gap-6 lg:flex-row">
          <a
            href="/#about"
            class="relative font-medium text-white before:content-[''] before:absolute before:bottom-0 before:w-full before:origin-center before:scale-x-0 before:hover:scale-x-100 before:h-[2px] before:bg-[#0D806E] hover:before: before:duration-300"
            >Como funciona?</a
          >
          <a
            href="/#how"
            class="relative font-medium text-white before:content-[''] before:absolute before:bottom-0 before:w-full before:origin-center before:scale-x-0 before:hover:scale-x-100 before:h-[2px] before:bg-[#0D806E] hover:before: before:duration-300"
            >Quem somos?</a
          >
        </div>
        <div class="flex flex-col gap-3 lg:flex-row lg:gap-6">
          <a href="https://www.facebook.com/paranavai.app/" target="_blank">
            <Icon
              name="facebook"
              size="32"
              class="text-white hover:text-[#0D806E] duration-300"
            />
          </a>
          <a href="https://www.instagram.com/paranavai.app/" target="_blank">
            <Icon
              name="instagram"
              size="32"
              class="text-white hover:text-[#0D806E] duration-300"
            />
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=5544920018161&text=Ol%C3%A1%2C%20vim%20pelo%20site%20e%20gostaria%20de%20maximizar%20os%20resultados%20do%20meu%20neg%C3%B3cio!"
            target="_blank"
          >
            <Icon
              name="whats"
              size="32"
              class="text-white hover:text-[#0D806E] duration-300"
            />
          </a>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center w-10/12 pb-8 m-auto my-4 text-center border-b-2 border-gray-800 border-solid lg:flex-row lg:justify-between lg:w-full"
      >
        <div class="my-4 text-center text-gray-200 lg:text-start">
          <p>2022 &copy; Lenyeg Ltda. Todos os direitos reservados.</p>
          <p>CNPJ: 23.018.045/0001-99</p>
        </div>
        <a href="/">
          <img
            draggable="false"
            src="/images/logo-white.svg"
            width="250"
            alt=""
            class="w-60"
          />
        </a>
      </div>
      <p class="text-center lg:my-4 lg:mt-8">Feito com 💚 e ☕️ pela Lenyeg</p>
    </BaseContainer>
  </footer>
</Layout>

<style>
  :root {
    scroll-behavior: smooth;
  }
</style>
